### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# purchase_data.head()

## Player Count

* Display the total number of players

In [8]:
# Create a list of unique players
unique_players = purchase_data["SN"].unique()

# Count number of unique players
unique_players_count = len(unique_players)


# total_players = purchase_data["SN"].nunique() # count unique non null values
# total_players_df = pd.DataFrame({
#     "Number of Unique Items": [purchase_data["SN"].nunique()]
# })

#OR
unique_players_df = pd.DataFrame({
    "Number of Unique Items": [unique_players_count]
})

unique_players_df

   Number of Unique Items
0                     576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].nunique()
total_revenue = purchase_data["Price"].sum()

unique_items
average_price
num_purchases
total_revenue

# summary_df = pd.DataFrame({"Unique Items:" purchase_data["Item ID"].nunique()})
#### NEED TO FORMAT $ VALUE
summary_df = pd.DataFrame(
    {"Number of Unique Items": [purchase_data["Item ID"].nunique()],
     "Average Price": [purchase_data["Price"].mean()],
     "Number of Purchases": [purchase_data["Purchase ID"].nunique()],
     "Total Revenue": [purchase_data["Price"].sum()],
     })

### format avg price and total rev
                             
summary_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
# Create a data frame of unique players and gender
# df.drop_duplicates(subset='A', keep="last")
unique_gender = purchase_data.drop_duplicates(subset='SN', keep='first')

# Create a series of unique gender labels and counts
gender_count = unique_gender["Gender"].value_counts() 
# gender_count = purchase_data.groupby(["SN"]).count()

# Create a series of unique gender labels and player percentage
gender_percent = (gender_count/num_purchases)*100

# Combined two series into a data frame with named columns
gender_df = pd.DataFrame({
    "Total Count": gender_count,
    "Percent of Players": gender_percent
})

### format percentage

In [13]:
gender_df

                       Total Count  Percent of Players
Male                           484           62.051282
Female                          81           10.384615
Other / Non-Disclosed           11            1.410256


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Average Purchase Value
average_price = playerdata.groupby(["Age Range"]).mean()["Price"]
average_price

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
print(484+81+11)

576

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame