### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [117]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
Unnamed: 7       0
Male             2
Female           2
Other            2
dtype: int64

In [173]:
# groupby_data = purchase_data.groupby("Gender")
groupby_data = purchase_data.groupby(["Gender"])[['SN']].nunique()
groupby_data
# summary_table = groupby_data[["SN"]]
# summary_table


# # Create the GroupBy object based on the "Type 1" column
# pokemon_group = pokemon_type.groupby(["Type 1"])

# # Calculate averages for combat stats using the .mean() method
# pokemon_comparison = pokemon_group.mean()
# pokemon_comparison

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

## Player Count

* Display the total number of players

In [175]:
# Create a list of unique players
unique_players = purchase_data["SN"].unique()

# Count number of unique players
unique_players_count = len(unique_players)


# total_players = purchase_data["SN"].nunique() # count unique non null values
# total_players_df = pd.DataFrame({
#     "Number of Unique Items": [purchase_data["SN"].nunique()]
# })

#OR
unique_players_df = pd.DataFrame({
    "Number of Unique Items": [unique_players_count]
})

unique_players_df

   Number of Unique Items
0                     576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [119]:
unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].nunique()
total_revenue = purchase_data["Price"].sum()

unique_items
average_price
num_purchases
total_revenue

# summary_df = pd.DataFrame({"Unique Items:" purchase_data["Item ID"].nunique()})
# NEED TO FORMAT $ VALUE
summary_df = pd.DataFrame(
    {"Number of Unique Items": [purchase_data["Item ID"].nunique()],
     "Average Price": [purchase_data["Price"].mean()],
     "Number of Purchases": [purchase_data["Purchase ID"].nunique()],
     "Total Revenue": [purchase_data["Price"].sum()],
     })

### format avg price and total rev
                             
summary_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [120]:
# # gender_test = purchase_data.groupby(['Gender', 'SN'])['SN'].count()
# gender_test = purchase_data.groupby(['Gender'])
# # gender_test_df = pd.DataFrame(gender_test)
# gender_test.head()

In [121]:
# Filter the data 
# filtered = purchase_data.groupby(["SN"])["Gender"].count()
filtered_purchase = purchase_data.groupby(["SN"])

# filter_df.head()
filtered_purchase.count().head(20)

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Unnamed: 7,Male,Female,Other
SN,,,,,,,,,,
Adairialis76,1,1,1,1,1,1,0,0,0,0
Adastirin33,1,1,1,1,1,1,0,0,0,0
Aeda94,1,1,1,1,1,1,0,0,0,0
Aela59,1,1,1,1,1,1,0,0,0,0
Aelaria33,1,1,1,1,1,1,0,0,0,0
Aelastirin39,2,2,2,2,2,2,0,0,0,0
Aelidru27,1,1,1,1,1,1,0,0,0,0
Aelin32,3,3,3,3,3,3,0,0,0,0
Aelly27,2,2,2,2,2,2,0,0,0,0
Aellynun67,1,1,1,1,1,1,0,0,0,0
Aellyria80,1,1,1,1,1,1,0,0,0,0
Aelollo59,2,2,2,2,2,2,0,0,0,0
Aenarap34,1,1,1,1,1,1,0,0,0,0
Aeral43,1,1,1,1,1,1,0,0,0,0
Aeral68,1,1,1,1,1,1,0,0,0,0
Aeral97,1,1,1,1,1,1,0,0,0,0
Aeralria27,1,1,1,1,1,1,0,0,0,0
Aeralstical35,1,1,1,1,1,1,0,0,0,0
Aeri84,1,1,1,1,1,1,0,0,0,0
Aerillorin70,1,1,1,1,1,1,0,0,0,0

In [116]:
# # Create a series of unique gender labels and counts
# gender_count = filtered_purchase["Gender"].value_counts() 

# # Create a series of unique gender labels and player percentage
# gender_percent = gender_count/num_purchases

# # Combined two series into a data frame with named columns
# gender_df = pd.DataFrame({
#     "Total Count": gender_count,
#     "Percent of Players": gender_percent

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [107]:
# Create a data frame of unique players and gender
purchase_data = purchase_data.groupby(["SN"])

# Create a series of unique gender labels and counts
gender_count = purchase_data["Gender"].value_counts() 

# Create a series of unique gender labels and player percentage
gender_percent = gender_count/num_purchases

# Combined two series into a data frame with named columns
gender_df = pd.DataFrame({
    "Total Count": gender_count,
    "Percent of Players": gender_percent
})

### format percentage

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [54]:
gender_df

                       Total Count  Percent of Players
Male                           652            0.835897
Female                         113            0.144872
Other / Non-Disclosed           15            0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
print(484+81+11)

576

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame